/* Base styles for AboutSection */
.about-section {
    display: flex;
    min-height: 40vh;
    color: #333;
    margin-bottom: 200px;
    background-color: #407088; /* Dark background for contrast */
}

.about-column-left {
    flex: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
    background-color: #407088;
    position: relative;
}

.about-column-main {
    flex: 2;
    padding: 20px;
    background-color: rgba(64, 112, 136, 0.1) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 50rem;
    margin-left: 4rem;
}

.about-title {
    position: absolute;
    font-size: 3.5rem;
    bottom: 25%;
    left: 50%;
    transform: rotate(-90deg);
    transform-origin: bottom left;
    white-space: nowrap;
    color: #fff;
}

.about-text {
    font-size: 1.8rem;
    line-height: 1.6;
    text-align: left;
    margin: 1.5rem;
    color: #fff;
}



/* Styles for tablets */
@media (max-width: 1024px) {
    .about-title {
        font-size: 2.5rem; /* Smaller font size for tablets */
    }

    .about-text {
        font-size: 1.4rem; /* Adjusted text size for better readability on tablets */
    }

    .about-column-main {
        padding: 20px;
        margin-left: 2rem; /* Adjust margin for tablets */
    }
}

/* Styles for mobile devices */
@media (max-width: 768px) {
    .about-column-left {
        display: none; /* Hide the left column on mobile for better space utilization */
    }

    .about-column-main {
        flex: 1;
        padding: 20px;
        margin-left: 0; /* Adjust layout to take full width on mobile */
    }

    .about-title {
        position: relative;
        font-size: 2rem; /* Further reduce title size for mobile */
        left: 0;
        bottom: 0;
        transform: none; /* No rotation on mobile */
    }

    .about-text {
        font-size: 1.2rem; /* Smaller font size for mobile */
    }
}



