.about-section {
    display: flex;
    min-height: 40vh;
    color: #333;
    margin-bottom: 200px;
}

.about-column-left, .about-column-right {
    position: relative;
    background-color: #407088;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-column-middle {
    flex: 2;
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    max-width: 800px;
}


.about-title {
    position: absolute;
    font-size: 3.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    transform-origin: center;
    white-space: nowrap;
}

.about-text {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    margin-top: 1rem;
}

/* Responsive styles for small screens */
@media (max-width: 768px) {
    .about-column-left, .about-column-right {
        display: none; /* Hide the side columns on smaller screens */
    }

    .about-column-middle {
        flex: 0; /* Let it take up the necessary space */
        padding: 20px; /* Less padding on smaller screens */
    }

    .about-title {
        transform: none; /* Keep the title horizontal on smaller screens */
    }
}

