.background-container {
  background-image: linear-gradient(to bottom, #dbd8e3 32%, #F8F8F8 32%);

  /* Flexbox properties to fill available space */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media (max-width: 768px) {
  .background-container {
    /* Adjust the gradient for mobile devices */
    background-image: linear-gradient(to bottom, #dbd8e3 35%, #F8F8F8 35%);
  }
}

