.background-container {
  background-image: linear-gradient(to bottom, #dbd8e3 30%, #F8F8F8 30%);

  /* Flexbox properties to fill available space */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Adjustments for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
  .background-container {
    background-image: linear-gradient(to bottom, #dbd8e3 20%, #F8F8F8 20%);
  }
}

/* Adjustments for mobile devices */
@media (max-width: 768px) {
  .background-container {
    background-image: linear-gradient(to bottom, #dbd8e3 125vh, #F8F8F8 50vh);
  }
}

