
.contact-section {
    padding: 100px 0;
    background-image: url('../../public/images/contact_background.png'); /* Adjust the path and image */
    background-size: cover;
    background-position: center bottom;
}

.contact-section {
    padding: 50px 0;
}

.container {
    max-width: 50rem;
    min-height: 30rem;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.contact-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 1.50rem;
    line-height: 1.6;
    font-weight: 350;
    color: #132743;
}

.contact-email {
    font-size: 1.50rem;
    font-weight: 500;
    color: #132743;
    text-decoration: none;
}

.sprite-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.rebecca-sprite {
    width: 115px;
    height: auto;
}

.flori-sprite {
    width: 130px;
    height: auto;
}

.contact-email {
    display: block;
    margin: 0 auto 20px;
}

