
.contact-section {
    background-image: url('../../public/images/contact.png'); /* Adjust the path as necessary */
    background-size: cover; /* This will ensure that your background covers the entire section */
    background-position: center; /* This will center your background image in the section */
}
.contact-section {
    padding: 50px 0;
    background-color: #dbd8e3;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.contact-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.contact-info {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
}

.contact-email {
    color: #007bff;
    text-decoration: none;
}

.contact-email:hover {
    text-decoration: underline;
}

.sprite-wrapper {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap to your preference */
    margin-bottom: 20px; /* Space before the email link */
}

.rebecca-sprite {
    width: 115px; /* Adjust the size to your preference */
    height: auto; /* Maintains the aspect ratio of the images */
}

.flori-sprite {
    width: 130px; /* Adjust the size to your preference */
    height: auto; /* Maintains the aspect ratio of the images */
}

.contact-email {
    /* Your existing styles for the email link */
    display: block; /* To ensure it takes its own line */
    margin: 0 auto 20px; /* Centers the link and adds space after it */
}

