/* Base styles for DemoSection */
.demo-section {
  position: relative;
  min-height: 100vh;
}

.slide-container {
  position: relative;
  width: 100%;
  min-height: 45%;
}

.demo-slides-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 150px;
  margin-bottom: 50px;
}

.demo-slides {
  display: flex;
  animation: scroll 60s linear infinite;
  justify-content: space-around;
}

.demo-slides img {
  height: auto;
  max-width: 20%;
  margin: 0 80px;
  border-radius: 25px;
  border: 5px solid #ffffff;
}


/* Styles for mobile devices */
@media (max-width: 768px) {
  .demo-section {
    min-height: 50vh; /* Smaller min-height for mobile */
  }

  .demo-slides-container {
    margin-top: 50px; /* Smaller top margin */
    margin-bottom: 20px; /* Smaller bottom margin */
  }

  .demo-slides img {
    max-width: 60%; /* Larger relative width for smaller screens */
    margin: 0 5%; /* Smaller margin */
  }
}


/* Styles for tablets in both portrait and landscape orientations */
@media (min-width: 769px) and (max-width: 1024px) {
  .demo-section {
    min-height: 80vh;
  }

  .demo-slides-container {
    margin-top: 100px;
    margin-bottom: 30px;
  }

  .demo-slides img {
    max-width: 30%; /* Intermediate size for tablets */
    margin: 0 40px; /* Adjusted margin for tablets */
  }
}



@media (orientation: landscape) and (max-width: 1024px) {
  .demo-slides img {
    max-width: 25%; /* Slightly smaller to fit more content on screen */
    margin: 0 20px;
  }
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}




