.slide-container {
  position: relative;
  z-index: 2;
}

.demo-slides-container {
  overflow: hidden;
  position: relative;
  max-width: 4xl;
  height: auto;
  margin-top: 150px;
}

.demo-slides {
  display: flex;
  animation: scroll 30s linear infinite;
}

.demo-slides img {
  max-height: 550px;
  max-width: 300px;
  margin: 0 15px;
}

@keyframes scroll {
    0% {
    transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }
}

.demo-scrolling {
  display: flex;
  animation: scroll 30s linear infinite;
  position: relative;
  z-index: 20;
}

.demo-scrolling img {
    height: 550px;
    width: 300px;
}

@media (max-width: 768px) {
    .demo-scrolling {
      animation-play-state: paused;
    }
}
