/* Base styles for Features section */
.features-container {
    padding-top: 0.5rem;
    margin-bottom: 6rem;
}

.max-width-container {
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

.feature-item {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 2.5rem 0.25rem;
    margin: 1.5rem;
}

.feature-image {
    flex-shrink: 0; /* Prevents the image from scaling in flexbox */
    width: 100px; /* Fixed width for consistency */
    margin-right: 2rem; /* Space between image and text */
}

.feature-text {
    flex-grow: 1;
    text-align: left;
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 0.5rem;
}

.feature-text h3 {
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.feature-text p {
    font-weight: 350;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.spin-animation {
    animation: spin 2s linear forwards;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}



/* Styles for mobile devices */
@media (max-width: 900px) {
    .feature-item {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center-align items */
        width: 100%; /* Make sure each item takes the full width of the container */
        margin: 1rem auto; /* Center the item and add margin */
        padding: 1rem; /* Adjust padding as needed */
    }

    .feature-image {
        margin: 0 auto 1rem; /* Center image and add margin below before text */
        width: 80px; /* Slightly smaller image on mobile */
    }

    .feature-text {
        text-align: center; /* Center-align text for mobile readability */
        font-size: 1rem; /* Adjust font size as needed */
    }
}


/* Styles for tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .feature-item {
        flex-direction: row; /* Maintain row direction for tablet */
        padding: 1.5rem 0.25rem;
    }

    .feature-image {
        width: 90px; /* Adjust image size for tablet */
    }

    .feature-text {
        font-size: 1.1rem; /* Intermediate font size for tablets */
    }
}

