/* Footer Styles */
.footer {
  background-color: #2A3E5E;
  padding: 2rem 1rem;
  text-align: center;
  width: 100%;
}

.footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* Additional Hover Effect for Links */
.footer-link:hover {
    text-decoration: underline;
}

.footer-nav,
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

/* Styles for Tablet and Desktop Screens */
@media (min-width: 768px) {
    .footer {
        text-align: center;
    }

    .footer nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2rem;
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 2rem;
    }

    .footer-nav,
    .footer-socials {
        display: flex;
        gap: 2rem;
    }

    .footer-link {
        color: white;
        text-decoration: none;
        font-size: 1.3rem;
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}


