/* Base styles for the landing class */
.landing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; /* Ensures the background image is fully shown */
}

.landing h2 {
  font-size: 4rem; /* Large screens */
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.landing p {
  font-size: 1.5rem; /* Large screens */
  margin: 1rem;
  max-width: 700px; /* Maintain text block width on desktop */
  padding: 0 20px;
}


/* Styles for mobile devices */
@media (max-width: 768px) {
  .landing {
    padding: 20px;
  }
  .landing h2 {
    font-size: 1.75rem; /* Smaller font size for mobile */
    margin: 1rem 0.5rem;
  }
  .landing p {
    font-size: 0.9rem; /* Smaller font size for mobile */
    margin: 0.5rem;
  }
}

/* Styles for tablets in both orientations */
@media (min-width: 769px) and (max-width: 1024px) {
  .landing h2 {
    font-size: 1.75rem; /* Intermediate font size for tablets */
    margin: 1.5rem 1rem;
  }
  .landing p {
    font-size: 1rem; /* Intermediate font size for tablets */
    margin: 1rem;
  }
}

/* Styles specifically for tablets in landscape orientation */
@media (orientation: landscape) and (max-width: 1024px) {
  .landing h2 {
    font-size: 1.75rem; /* Slightly smaller in landscape */
    margin: 1rem 1rem;
  }
  .landing p {
    font-size: 1rem; /* Slightly smaller in landscape */
    margin: 1rem 4rem 0 4rem;
  }
}




/* Special styling for specific devices in landscape mode */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) {
  .landing {
    background-size: 100vw 100vh; /* Adjust width and height to cover the viewport */
    background-attachment: fixed; /* Fixes the background relative to the viewport */
  }
}



/* Apply animation for desktops */
@media (min-width: 1025px) {
  .landing {
    animation: slideBackground 4s ease-out forwards; /* Apply the animation */
  }
}

/* Keyframes for the background slide animation */
@keyframes slideBackground {
  0% {
    transform: scale(1.05); /* Slightly zoomed in to enhance effect */
    background-position-y: 0%; /* Start the background at the top */
  }
  100% {
    transform: scale(1); /* End at normal scale */
    background-position-y: 20%; /* Very slight slide down */
  }
}

