/*ThirdSection.css*/

/* Default styles for mobile devices */
.third-section {
    background-color: #ececec;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.third-section .text-box {
    text-align: left;
    color: #062c30;
    max-width: 600px;
    line-height: 1.5;
}

.third-section .heading {
    text-align: left;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.third-section .text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.third-section .image-box {
    position: relative;
    margin-top: 1.8rem;
}

/* 3) das Label-Element oben drüber */
.third-section .announcement {
    position: absolute;
    top: 8%;
    left: 75%;
    transform: translate(-50%, -50%) rotate(7deg);
    width: 140px;
    height: 140px;
    background-color: #a393eb;
    border-radius: 50%;

    /* Center Text */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Text‐Styling */
    color: #fff;
    font-size: 1.2rem;
    font-weight: 700;
    text-align: center;
    padding: 0.5rem;
    z-index: 2;
}


.third-section .image {
    width: 100%;
    height: auto;
    max-width: 400px;
}

.mobile-slider {
    display: block;
}
.desktop-only {
    display: none;
}


/* Styles for tablet and desktop screens */
@media (min-width: 768px) {
    .third-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        /* vertikal zentrieren */
        align-items: center;
        gap: 2rem;
    }
    .third-section .text-box {
        flex: 1;
        max-width: 50%;
        /* Text-Box selbst mittig im Flex-Container ausrichten */
        align-self: center;
    }
    .third-section .text-box .heading {
        font-size: 3rem;
    }

    .third-section .text-box .text {

        font-size: 1.5rem;
    }

    .third-section .image-box {
        flex: 1;
        max-width: 50%;
        margin-left: 2rem;
    }

    .third-section .image {
        max-width: 100%;
    }

    .third-section .heading {
        font-size: 2rem;
    }

    .third-section .text {
        font-size: 1.5rem;
    }
    .third-section .announcement {
        width: 180px;
        height: 180px;
        font-size: 1.8rem;
        top: 15%;
        left: 18%;
        transform: translate(-50%, -60%) rotate(-10deg);
    }
    .mobile-slider {
        display: none;
    }
    .desktop-only {
        display: block;
    }
    .third-section .option-card {
        border: 0.75px solid rgba(0, 0, 0, 0.15);
    }

    .third-section .badges {
        gap: 5rem;
    }
}



/* Desktop (ab 1024px): größere Bubble */
@media (min-width: 1024px) {
  .third-section .announcement {
    width: 300px;        /* deine ursprünglichen Desktop-Werte */
    height: 300px;
    font-size: 2.5rem;
    top: 15%;
    left: 18%;
    transform: translate(-50%, -80%) rotate(-10deg);
  }
}
